<%-include('./header/header') %>
<link rel="stylesheet" href="/assets/vendor/datatables/css/jquery.dataTables.min.css">

<div id="main-content">
<div class="container-fluid">
<div class="block-header">
<div class="row clearfix">
<div class="col-md-6 col-sm-12">
<h1>Question Answer</h1>
<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
<li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Questions Answer</li>
</ol>
</nav>
</div>
<div class="col-md-6 col-sm-12 text-right hidden-xs">
<button class="btn btn-sm btn-primary" title="" data-toggle="modal" data-target="#myModal"><i class="icon-plus" aria-hidden="true"></i> Add New</button>
</div>
</div>
</div>
<div class="row clearfix">
<div class="col-sm-12">
<div class="table-responsive">
<table class="table table-hover table-custom spacing2" id="question_table_id">
<thead>
<tr>
<th>Sr.No</th>
<th>Question</th>
<th>Answer</th>
<th>Action</th>
</tr>
</thead>
<tbody id="question_tbody">
<tr>
<td>1</td>
<td><span class="list-name">H 0000</span></td>
<td>Flat Discount</td>

<td>
	<button type="button" class="btn btn-sm btn-success" title="Edit" data-placement="top" data-toggle="modal" data-target="#myModal1"><i class="icon-pencil"></i></button>
	<button type="button" class="btn btn-sm btn-danger " title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
</td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
 </div>
</div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Question Answer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        	<div class="row">
        		<div class="col-lg-12" style="margin-top:10px;">
        			<label>Question </label>
        			<input type="text" name="" id="question" placeholder="Enter Question "  class="form-control">
        		</div>
        
        	</div>
            <div class="row">
                <div class="col-lg-12" style="margin-top:10px;">
        			<label> Answer</label>
        			<input type="text" name="" id="answer" placeholder="Enter Answer"  class="form-control">
        		</div>
            </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        <input type="submit" name="" value="Add"  id="add_question" class="btn btn-warning">
      </div>

    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Question Answer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-lg-12" style="margin-top:10px;">
              <label>Edit Question</label>
              <input type="text" name=""  id="edit_question"  class="form-control">
              <input type="text" name=""  id="question_id" hidden>

            </div>
            <div class="col-lg-12" style="margin-top:10px;">
                <label>Edit Answer</label>
                <input type="text" name=""  id="edit_answer"  class="form-control">
  
              </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        <input type="submit" name="" value="Save Changes" id="update_question" class="btn btn-warning">
      </div>

    </div>
  </div>
</div>

<%-include('./header/footer') %>
<script src="/assets/vendor/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script> 

<script src="/js/info/question.js"></script>
<script>

	$(function () {
		questions.base_url = "<%=baseURL%>";
        
		questions.init();
	});
</script>